.menu-ham {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 100px;
    height: auto;
    background-color: #f8f8ff29;
    transition: all 0.7s ease-in-out;
}

.h5menu {
    text-align: end;
    background-color: #f8f8ff29;
    padding-top: 30px;
    padding-right: 34.5px;
}

.list-menu {
    list-style: none;
    padding: 0px;
    text-align: center;
}

.h1menu {
    padding: 30px;
    color: var(--ghost);
}

.h1menu:hover{
    color: var(--bege);
}

.h1menul {
    padding-bottom: 60px;
}