.Homepic {
    width: 100%;
    height: 100%;
}

.homepic {
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
}

.container {
    text-align: center;
    font-weight: bold;
    margin-top: 26vh;
    padding: 2rem;
    width: auto;
}

@media screen and (max-width: 1000px) {
    main {
        display: block;
    }

    .container {
        margin-top: 5rem;
    }

    .Homepic {
        max-width: 100%;
        height: auto;
    }

    .homepic {
        height: auto;
    }
}